h1
{
	text-align: center;
	color: darkblue;
} 


table
{
	margin: auto;
	border-collapse: collapse;
}

td
{
	vertical-align: bottom;
	font-family: sans-serif;
}

.FRANCE
{
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/2560px-Flag_of_France.svg.png");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;

}
.USA
{
    background-image:url("https://www.mpadeco.com/thumb.php?zc=3&f=0&src=/sites/mpadeco/files/products/920be4d69926edfadf8574c74d1e7deb.png&fl=none&w=360&h=360");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
}
td, th
{
	border: skyblue 5px solid;
	width: 85%;
	height: 85px;
	text-align: center;
}
.top
{
    font-size: 3rem;
    color:darkblue;
    padding:16px 4em 16px 4em;
    background-color: lightblue;

}